body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Alata", sans-serif;
}

.rotating-text span {
  font-family: "Alata", sans-serif;
  font-weight: 600;
}

.social-icons i {
  font-family: "Poppins", sans-serif;
}
#home {
  background-image: url("../../public/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: none;
}

.text-md {
  font-size: 1.25rem;
}

.text-white {
  color: white;
}

.text-gray-400 {
  color: #d1d5db;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 2.5rem;
  }

  .home h2 {
    font-size: 1rem;
  }

  .home p {
    font-size: 0.875rem;
  }

  .social-icons {
    margin-top: 4rem;
    gap: 1rem; /* Yatay boşluk eklemek için gap özelliği kullanıldı */
    display: flex; /* Gap çalışması için flex container gerektiğinden eklenmeli */
    justify-content: center;
  }

  .social-icons a {
    transform: scale(0.8);
  }

  section {
    padding: 20px 10px;
  }

  button {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }

  .flex {
    gap: 0.5rem;
  }
}
